<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        Name: @ViewBag.Employee.Name
    </div>
    <div>
        Email: @ViewBag.Employee.Email
    </div>
    <div>
        Department: @ViewBag.Employee.Department
    </div>
</body>
</html>